
<div class="col-sm-12 col-md-12">
    <div class="item-main">
        <div class="col-sm-12 col-md-4">
            <img src="<?=$data['product']['img_path']?>" alt="<?=$data['product']['name']?>">
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="col-sm-12 col-md-12 item-main-name" >
                <p><?=$data['product']['brand']?> <?=$data['product']['name']?>, <?=($data['product']['weight']==1000?'1кг':"{$data['product']['weight']} г");?></p>
            </div>
            <br>
            <hr>
            <div class="col-sm-6 col-md-4">
               Состав:
            </div>
            <div class="col-sm-6 col-md-6">
                Арабика <?=$data['product']['sort_arabica']?>%, Робуста <?=$data['product']['sort_robusta']?>%
            </div>
            <div class="col-sm-6 col-md-4">
                Обжарка:
            </div>
            <div class="col-sm-6 col-md-6">
                <?=$data['product']['roasting']?>
            </div>
            <div class="col-sm-6 col-md-4">
                Страна изготовитель:
            </div>
            <div class="col-sm-6 col-md-6">
                <?=$data['product']['country']?>
            </div>
            <br><br><br>
            <hr>
            <div class="col-sm-6 col-md-4">
                <div class="item-price"><span><?=$data['product']['price']?> </span>грн</div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="number" step="1" min="1" max="10"  id="quantity" name="quantity" value="1">
                    </div>&nbsp;&nbsp;&nbsp;
                    <a id="add-<?=$data['product']['id']?>">
                    <button  class="btn-default btn" type="submit"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> в корзину </button>
                    </a>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <hr>
               <b>Описание товара:</b>
                <?=$data['product']['description']?>
            </div>
        </div>

    </div>
</div>