
<meta charset="UTF-8">
<div class="col-md-12 sort-text">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    <span> оформление заказа </span>

</div>
<div class="col-md-12">
    <br>
    <?php if(!empty($data['cart'])){?>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Наименование товара</th>
                <th>Цена, грн.</th>
                <th>Количество</th>
                <th>Итого, грн.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($data['cart'] as $item){?>
            <tr>
                <td><img src="<?=$item['img_path']?>" style="height: 40px"></td>
                <td><?=$item["brand"]?><?=$item["name"]?> <?=$item["weight"]?>г.</td>
                <td><span id="price-<?=$item['id']?>"><?=$item["price"]?></span></td>
                <td><input type="number" step="1" min="1" max="100" id="quantity-<?=$item['id']?>" name="quantity" value="<?=$item['quantity']?>"></td>
                <td><span id="intotal-<?=$item['id']?>"><?=($item["price"]*$item["quantity"])?></span></td>
                <td><button id="del-<?=$item['id']?>" class="btn btn-xs"><b>x</b></button></td>
            </tr>
            <?php } ?>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th>к оплате</th>
            <th><span id="totaltopay"><?=$data['cart'][0]['total_sum']?></span> грн.</th>
            <td></td>
        </tr>
        </tbody>
    </table>
    <?php } else{?>
    <h4> Ваша корзина пуста</h4>
    <?php } ?>
</div>
