<meta charset="UTF-8">
<div class="col-md-12 sort-text">
    <span> наши контакты </span>
</div>
<div class="col-md-12">
    <br>
    <li>
        <b>Режим работы: </b><br>
        Пн-Пт: с 09:00 до 18:00 <br>
        Сб: с 10:00 до 15:00 <br>
    </li><br>
    <li>
        <b>Адрес: </b>
        г. Киев, пр. Григоренка 1144А, оф. 3 (10 минут пешком от м. Позняки)
    </li><br>
    <li>
        <b> Наши телефоны: </b><br>
        (050) 422-01-90, (097) 099-01-75
    </li><br>
    <li>
        <b>Наш E-mail: </b>
        info@kavagurmana.com.ua
    </li><br>

</div>