<meta charset="UTF-8">
<div class="col-md-12 sort-text">
    <span> Доставка </span>
</div>
<div class="col-md-12">
    <br>
    <li>Курьерская доставка по г. Киеву:</li>
    Доставка осуществляется на следующий день после заказа, в случае, если он оформлен до 16:00.
    Вы можете заказать курьерскую доставку на дом или в офис по г. Киеву. Стоимость доставки - 35 грн.
    Напоминаем, что при заказе на сумму от 500 грн - доставка бесплатна.

    <li>Доставка по Украине:</li>
    Доставка осуществляется компанией перевозчиком "Новая почта" или любым другим удобным для Вас перевозчиком.
    Стоимость доставки и наложенного платежа оплачивается заказчиком.
    Беcплатная доставка при сумме заказа свыше 1000 грн (стоимость наложеного платежа 20 грн + 2% - оплачивается заказчиком). При переводе оплаты на нашу карту Вы, соответственно, освобождаетесь от уплаты комисии за наложеный платеж и оплачиваете только доставку (при сумме до 1000 грн).

    <li>Самовывоз товара:</li>
    Возможен по адресу:
    г. Киев, пр. Григоренка 1144А, оф. 3 (10 минут пешком от м. Позняки).
    Обязательно согласовывается с оператором по телефону после оформления заказа.
</div>