<meta charset="UTF-8">
<div class="col-md-12 sort-text">
    <span> оплата </span>
</div>
<div class="col-md-12">
    <br>
    <li><b>наличный расчет: </b> оплата товара производится наличными, в гривне, заказчиком после получения товара от курьера, непосредственно в магазине или почтовой службе.</li>
    <li><b>безналичный расчет:</b> после оформления заказа на сайте, менеджер свяжется с Вами для подтверждения заказа, уточните данный метод оплаты и мы вышлем вам счет-фактуру. После 100% оплаты товара, будет осущественна доставка товара с оригиналами документов.</li>
    <li><b>перевод на карту:</b> при подтверждении заказа, уточните менеджеру по телефону, что вы хотите сделать перевод на карту, и мы вышлем вам реквизиты.</li>

</div>